/* link here to matching colors https://mycolor.space/?hex=%238AAAE5&sub=1 */

html {
    background-color: #18141d;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: #c2c2c2;
    font-family: monospace;
   /*  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}
.formkit-input{
    color: white  !important;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}




/* LETS CREATE MORE GENERIC SETTINGS. 
 */
 main{
    display:flex;
    flex-direction: column;
    margin: 12px 32px;

}

.content h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
}

.btn-success{
    margin: 6px;
    padding: 8px 12px;
    background-color: #b0f3e4;
    font-size:14px;
    border: 1px solid #b0f3e4;
    border-radius: 6px;
    
}
.btn-danger{
    margin: 6px;
    padding: 8px 12px;
    background-color: #f3b0b0;
    font-size:14px;
    border: 1px solid #f3b0b0;
    border-radius: 6px;
    
}